/* Genel sayfa stilleri */

/* Body elementi için genel stiller */
body {
  font-family: Arial, sans-serif; /* Yazı tipi belirleniyor */
  background-color: #f0f0f0; /* Arka plan rengi */
  margin: 0; /* Kenar boşlukları sıfırlanıyor */
  padding: 0; /* Dolgu sıfırlanıyor */
}

/* Ana container için genel stiller */
.container {
  max-width: 600px; /* Maksimum genişlik belirleniyor */
  margin: 50px auto; /* Kenar boşlukları ayarlanıyor */
  background-color: #fff; /* Arka plan rengi */
  padding: 20px; /* Dolgu */
  border-radius: 10px; /* Köşe yuvarlama */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Kutu gölgesi */
}

/* Başlık için genel stiller */
h1 {
  text-align: center; /* Metin hizalama */
  color: #333; /* Metin rengi */
}

/* Giriş formu ve kayıt formu stilleri */

/* Giriş ve kayıt form container'ı için genel stiller */
.login-container {
  background-color: #fff; /* Arka plan rengi */
  padding: 15px; /* Dolgu */
  border-radius: 8px; /* Köşe yuvarlama */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Kutu gölgesi */
  max-width: 400px; /* Maksimum genişlik belirleniyor */
  width: 100%; /* Genişlik 100% */
  margin: auto; /* Ortala */
}

/* Etiketler için genel stiller */
.login-container label {
  display: block; /* Blok öğe olarak görüntüleme */
  margin-bottom: 8px; /* Alt boşluk */
}

/* Giriş alanları için genel stiller */
.login-container input {
  width: 100%; /* Genişlik 100% */
  padding: 8px; /* Dolgu */
  margin-bottom: 16px; /* Alt boşluk */
  box-sizing: border-box; /* Kutu modeli */
}

/* Giriş ve kayıt seçenekleri için genel stiller */
.login-container .login-choice-button,
.login-container .register-choice-button {
  background-color: #acb0ac; /* Arkaplan rengi */
  color: #fff; /* Metin rengi */
  padding: 10px; /* Dolgu */
  border: none; /* Kenarlık yok */
  border-radius: 4px; /* Köşe yuvarlama */
  cursor: pointer; /* İşaretçi türü */
  width: 49%; /* Genişlik */
}

/* Giriş ve kayıt seçenekleri için aktif hale getirilmiş stiller */
.login-container .login-choice-button.active,
.login-container .register-choice-button.active {
  background-color: #363c36; /* Aktif arkaplan rengi */
}

/* Uygula butonu için genel stiller */
.login-container .apply-button {
  background-color: #096bb2; /* Arkaplan rengi */
  color: #fff; /* Metin rengi */
  padding: 10px; /* Dolgu */
  border: none; /* Kenarlık yok */
  border-radius: 4px; /* Köşe yuvarlama */
  cursor: pointer; /* İşaretçi türü */
  width: 100%; /* Genişlik */
}

/* KVKK kutusu için genel stiller */
.kvkk-container {
  margin-top: 10px; /* Üst boşluk */
  display: flex; /* Öğeleri yatay olarak düzenleme */
  align-items: center; /* Dikey hizalama */
  margin-left: 5px; /* Sol boşluk */
}

/* KVKK etiketi için stiller */
.kvkk-container label {
  margin-left: 15px; /* Sol boşluk */
}

/* KVKK onay kutusu için stiller */
.kvkk-container input[type="checkbox"] {
  width: 20px; /* Genişlik */
  border-color: #363c36; /* Kenarlık rengi */
}

/* Diğer stiller */

/* Navbar için genel stiller */
.navbar-custom {
  background-color: #096bb2; /* Arkaplan rengi */
}

/* Navbar menüsü için genel stiller */
.navbar-menu {
  display: flex; /* Öğeleri yatay olarak düzenleme */
}

/* Navbar menü öğeleri için genel stiller */
.navbar-menu a {
  font-size: large; /* Yazı tipi boyutu */
  color: #fff; /* Metin rengi */
  letter-spacing: 2px; /* Harf aralığı */
}

/* İndeks sayfası stil ayarları */
.endex {
  padding-top: 100px; /* Üst dolgu */
  text-align: center; /* Metin hizalama */
  padding-bottom: 1000px; /* Alt dolgu */
}

/* Sonuç kutusu için genel stiller */
#result {
  margin-top: 20px; /* Üst boşluk */
  text-align: center; /* Metin hizalama */
  font-size: 18px; /* Yazı tipi boyutu */
  color: #333; /* Metin rengi */
  font-weight: bold; /* Yazı tipi kalınlığı */
}
