{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FBU BITIRME</title>
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css'%}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap-grid.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap-grid.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap-reboot.css' %}">
      
      
      </head>
      
      <body>
        <nav class="navbar bg-secondary">
          <a href=""><img src="{% static 'assets/img/logo_foto.png' %} " alt="" width="80" height="80"></a>
      
      
          <div class="navbar-menu">
            <a class="navbar-brand" style="font-weight:700" href="{% url 'home' %}"><img src="{% static 'assets/img/home_logo.png' %} " alt="" width="25" height="25"/> ANASAYFA</a>
            <a class="navbar-brand" style="font-weight:700" href="{% url 'fitness' %}"><img src="{% static 'assets/img/fitness_logo.png' %} " alt="" width="25" height="25"/>FITNESS</a>
            <a class="navbar-brand" style="font-weight:700" href="{% url 'about' %}"><img src="{% static 'assets/img/about_logo.png' %} " alt="" width="25" height="25"/>HAKKIMIZDA</a>
            <a class="navbar-brand" style="font-weight:700" href="{% url 'contact' %}"><img src="{% static 'assets/img/contacts_logo.png' %} " alt="" width="30" height="30"/>İLETİŞİM</a>
          </div>
      
          <div class="navbar-menu">
      
            <a class="navbar-brand" href="{% url 'login' %}">GİRİŞ/KAYIT  </a>
          </div>
      
        </nav>
    </body>
</html>