<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FBU BITIRME</title>
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/bootstrap.css">
  <link rel="stylesheet" href="assets/css/bootstrap-grid.css">
  <link rel="stylesheet" href="assets/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/css/bootstrap-reboot.css">

</head>

<body>
  <nav class="navbar bg-secondary">
    <a href=""><img src="assets/img/logo_foto.png " alt="" width="80" height="80"></a>


    <div class="navbar-menu">
      <a class="navbar-brand" href="#">ANASAYFA</a>
      <a class="navbar-brand" href="#">FITNESS</a>
      <a class="navbar-brand" href="#">HAKKIMIZDA</a>
      <a class="navbar-brand" href="#">İLETİŞİM</a>
    </div>

    <div class="navbar-menu">

      <a class="navbar-brand" href="#">GİRİŞ/KAYIT  </a>
    </div>

  </nav>

  {% block content %}

  {% endblock %}

</body>
</html>